<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Battle</title>
    <link rel="stylesheet" href="style/battle.css">
</head>
<body>
    
    <div class="up">


        <div class="user">
            <img src="images/user.png" alt="">
            <p>@Radawn Gaber</p>
        </div>
        
        <p>VS</p>
        
        <div class="user">
            <img src="images/user.png" alt="">
            <p>@Radawn Gaber</p>
        </div>

    </div>

    <div class="info">
        <p>الكلمة تتكون من 10 حروف</p>
        
        <div class="in">Help Text Here 1</div>
        <div class="in">Help Text Here 2</div>
        
    </div>


    <div class="cont">
        <div class="in">
            <p>ادخل اجابتك</p>
            <input type="text">
        </div>
    
        <button id="guess">تخمين</button>
    </div>

</body>
</html>