{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>الصفحة الرئيسية</title>
    <link rel="stylesheet" href="{% static 'style/home.css' %}">
</head>
<body>
    
    
    <div class="container">

        <div class="img">
            <img src="{{main_url}}{{c_user.picture}}" alt="">
            <p>@{{c_user.full_name}}</p>
        </div>

        <div class="points">
            <p>النقاط</p>
            <p>{{c_user.points}}</p>
        </div>

        <div class="game">
            <a href="#" id="guessBtn">خمن اللعبة</a>
            <a href="{% url 'create_battle' %}">انشاء كلمة للتخمين</a>
        </div>
 
        <a href="{% url 'leaders' %}" class="big">أفضل الاعبين</a>
        <a href="{% url 'logout' %}" class="big">تسجيل الخروج</a>

    </div>


    <script>

        var endpoint = "{{main_url}}".replace('http','ws') + "/search-battle/?token=" + document.cookie.split('=')[2];
        var guessBtn = document.getElementById('guessBtn');

        guessBtn.addEventListener('click',function(){
            guessBtn.textContent = 'جاري البحث..'
            var socket = new WebSocket(endpoint);
            
            socket.onmessage = function(e){
                var data = JSON.parse(e.data);
                var battle_id = data.battle_id;

                window.location.href = '/battle/get/' + battle_id;
            }

        })
        
    </script>

</body>
</html>