{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تسجيل الدخول</title>
    <link rel="stylesheet" href="{% static 'style/auth.css' %}">
</head>
<body>
    

    <form class="container" method="POST">

        {% csrf_token %}
        
        <div class="in">
            <p>البريد الالكتروني</p>
            <input type="email" name="email">
        </div>

        <div class="in">
            <p>كلمة المرور</p>
            <input type="password" name="password">
        </div>

        <div class="btns">

            <a href="{% url 'register' %}">ليس لديك حساب ؟</a>
            <button type="submit">تسجيل</button>
        
        </div>


    </form>


    <script>
        if ("{{error}}"){
            alert("{{error}}")
        }
    </script>

</body>
</html>